body{
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
}

h1{
    color: white;
    background-color: rgba(13, 155, 13, 0.425);
    width: 800px;
    text-align: center;
    padding: 10px;

}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgba(255, 217, 0, 0.308);
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    border-radius: 10px;
}
a:hover{
    border-color: white;
}

.app{
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 255, 0.308);
    text-align: center;
    display: inline-block;
    margin: 2% auto;
    border-radius: 10px;
    position: relative;
    border: 2px solid blue;
}
.app:hover{
    border: 2px solid white;
}

img{
    width: 130px;
    height: 125px;
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid blue;
}
img:hover{
    border: 2px solid white;
}